---
import BaseLayout from '@/layouts/BaseLayout.astro';
import type { PostFrontmatter } from '@/utils/types';

const posts = await Astro.glob<PostFrontmatter>('./*.mdx');
---

<BaseLayout title='Isaiah Gamble Blog | Posts' description="Posts on Isaiah Gamble's blog.">
	<h1>Posts</h1>
	{
		posts
			.filter(({ frontmatter }) => frontmatter.title !== 'Example')
			.map((post) => <h2>{post.frontmatter.title}</h2>)
	}
</BaseLayout>
