@use './utils';

html {
	--radius: 8px;
	--spacing-sm: 0.25rem;
	--spacing-md: 0.5rem;
	--spacing-lg: 0.75rem;
	--spacing-xl: 1rem;

	& .bold-keyword {
		font-weight: 600;
	}

	// Rust-Analyzer specific classes

	.comment {
		color: var(--code-comment);
	}
	.documentation {
		color: var(--code-comment);
	}
	.intra_doc_link {
		font-style: italic;
	}
	.injected {
		opacity: 0.65;
	}
	.lifetime,
	.label,
	.struct,
	.enum,
	.enum_variant,
	.field {
		color: var(--code-foreground);
	}
	.function,
	.self_keyword,
	.self_type_keyword,
	.macro,
	.macro_bang,
	.method {
		color: var(--code-func);
		font-weight: normal;
	}
	.parameter,
	.text,
	.type,
	.builtin_type,
	.type_param,
	.attribute {
		color: var(--code-foreground);
	}
	.static,
	.const,
	.numeric_literal {
		color: var(--code-constant);
	}
	.bool_literal {
		color: var(--code-constant);
	}
	.proc_macro {
		color: var(--code-foreground);
	}
	.derive {
		color: var(--code-foreground);
		font-style: italic;
	}
	.module {
		color: var(--code-foreground);
	}
	.value_param {
		color: var(--code-foreground);
	}
	.variable {
		color: var(--code-foreground);
	}
	.string_literal,
	.char_literal {
		color: var(--code-string);
	}
	.escape_sequence {
		color: var(--code-constant);
	}
	.operator,
	.keyword {
		color: var(--code-keyword);
		font-weight: bold;
	}
	.negation,
	.bitwise,
	.comparison,
	.format_specifier,
	.punctuation,
	.unsafe,
	.colon {
		color: var(--code-keyword);
	}
}

html[data-theme='light'] {
	--bg-color-from: #e8fcff;
	--bg-color-to: #f3f5e1;
	--article-background: #{utils.hexToRGB(#f1f0f0)};
	--text-color: #1b003f;
	--dimmed-text-color: #320172;

	// change hex to rgb so can add alpha channel with rgba()
	--primary-100: #{utils.hexToRGB(#fbfdff)};
	--primary-200: #{utils.hexToRGB(#cde8ff)};
	--primary-300: #{utils.hexToRGB(#a3d6ff)};
	--primary-400: #{utils.hexToRGB(#7dc5ff)};
	--primary-500: #{utils.hexToRGB(#5ab5ff)};
	--primary-600: #{utils.hexToRGB(#3ba7ff)};
	--primary-700: #{utils.hexToRGB(#1c99ff)};
	--primary-800: #{utils.hexToRGB(#008cfe)};
	--primary-900: #{utils.hexToRGB(#007ee5)};
	--primary-1000: #{utils.hexToRGB(#0072ce)};
	--primary-1100: #{utils.hexToRGB(#0066b9)};
	--primary-1200: #{utils.hexToRGB(#005ca7)};

	--link-color: rgb(var(--primary-1100));
	--link-hovered-color: rgb(var(--primary-1200));

	// For code highlighting
	--code-foreground: #270158;
	--code-background: #fefeeb;
	--code-constant: #0092fa;
	--code-string: #770000;
	--code-comment: #880000;
	--code-keyword: #00a220;
	--code-parameter: #aa0000;
	--code-func: #bb0000;
	--code-decl: #00a220;
	& .hljs-literal,
	& .hljs-number {
		color: var(--code-constant);
	}

	& .hljs-string {
		color: var(--code-string);
	}

	& .hljs-comment {
		color: var(--code-comment);
	}

	& .hljs-keyword,
	& .hljs-name,
	& .hljs-punctuation {
		color: var(--code-keyword);
	}

	& .blue-keyword,
	& .hljs-params .hljs-built_in {
		color: var(--code-decl);
		font-style: italic;
	}

	& .green-keyword {
		color: var(--code-func);
	}

	& .function_ {
		color: var(--code-func);
	}

	& .hljs-params .hljs-attr {
		color: var(--code-parameter);
	}
}

html[data-theme='dark'] {
	--bg-color-from: #270158;
	--bg-color-to: #190f29;
	--article-background: #{utils.hexToRGB(#0c0713)};
	--text-color: #fdfff5;
	--dimmed-text-color: #c1c1c1;

	// change hex to rgb so can add alpha channel with rgba()
	--primary-100: #{utils.hexToRGB(#d6dcff)};
	--primary-200: #{utils.hexToRGB(#abb9ff)};
	--primary-300: #{utils.hexToRGB(#8498ff)};
	--primary-400: #{utils.hexToRGB(#617bff)};
	--primary-500: #{utils.hexToRGB(#4160ff)};
	--primary-600: #{utils.hexToRGB(#2448ff)};
	--primary-700: #{utils.hexToRGB(#0730ff)};
	--primary-800: #{utils.hexToRGB(#0027ec)};
	--primary-900: #{utils.hexToRGB(#0023d4)};
	--primary-1000: #{utils.hexToRGB(#001fbf)};
	--primary-1100: #{utils.hexToRGB(#001cac)};
	--primary-1200: #{utils.hexToRGB(#00199b)};

	--link-color: rgb(var(--primary-200));
	--link-hovered-color: rgb(var(--primary-300));

	// For code highlighting
	--code-foreground: #ffffff;
	--code-background: #000000;
	--code-constant: rgb(167, 131, 247);
	--code-string: #e6db74;
	--code-comment: #fd971f;
	--code-keyword: rgb(233, 53, 110);
	--code-parameter: #fd971f;
	--code-func: #a6e22e;
	--code-decl: #00eaee;

	& .hljs-literal,
	& .hljs-number {
		color: var(--code-constant);
	}

	& .hljs-string {
		color: var(--code-string);
	}

	& .hljs-comment {
		color: var(--code-comment);
	}

	& .hljs-keyword,
	& .hljs-name,
	& .hljs-punctuation {
		color: var(--code-keyword);
	}

	& .blue-keyword,
	& .hljs-params .hljs-built_in {
		color: var(--code-decl);
		font-style: italic;
		font-weight: normal;
	}

	& .green-keyword {
		color: var(--code-func);
	}

	& .function_ {
		color: var(--code-func);
	}

	& .hljs-params .hljs-attr {
		color: var(--code-parameter);
		font-style: italic;
	}
}
