---

---

<style lang='scss'>
	:root[data-theme='dark'] {
		--footer-from-color: #00004b;
		--footer-mid-color: #000032;
		--footer-to-color: #000025;
	}

	:root[data-theme='light'] {
		--footer-from-color: #018342;
		--footer-mid-color: #00763b;
		--footer-to-color: #016b01;
	}

	footer {
		padding: var(--spacing-xl);
		padding-top: 48px;
		display: flex;
		color: white;
		background-color: var(--footer-to-color);
		background: linear-gradient(
			180deg,
			var(--footer-mid-color) 10%,
			var(--footer-to-color) 100%
		);
	}

	.curve {
		position: relative;
		overflow: visible;
		margin-top: calc(10vh + 128px);
		margin-bottom: -1px;

		&::before {
			content: '';
			z-index: 1;
			position: absolute;
			top: -9.9vh;
			bottom: 0;
			left: 0;
			right: 0;
			clip-path: ellipse(60% 100% at bottom);
			display: inline-block;
			line-height: 0;
			min-height: 10vh;
			width: 100%;
			background-color: var(--footer-to-color);
			background: linear-gradient(
				180deg,
				var(--footer-from-color) 25%,
				var(--footer-mid-color) 90%
			);
		}

		clip-path: inset(-100vh 0px 0px 0px); // cut off al borders except top
		box-shadow: 0px 0vh 20vh 2vh rgba(255, 255, 255, 0.7);
	}

	.root {
		display: flex;
		justify-content: space-between;
		font-size: 1.25rem;
	}

	:root[data-theme= 'light'] a {
		color: white;

		&:hover {
			color: lightgray;
		}
	}
</style>
<div class='curve'></div>
<footer class='root'>
	<div>Made with 🧡 by Isaiah Gamble</div>
	<a href='https://igamble.dev'>More of my work</a>
</footer>
