---
---
<style lang="scss">
	$water1: #0000de;
	$water2: #0000af;
	$cookie: #996900;

	footer {
		padding: var(--spacing-md);
		padding-top: 48px;
		display: flex;
		background-color: $water2;

		:root[data-theme="light"] & {
			background-color: $cookie;
			color: white;
		}
	}

	.curve {
		position: relative;
		overflow: visible;
		margin-top: calc(10vh + 128px);

		&::before {
			content: '';
			z-index: 1;
			position: absolute;
			top: -10vh;
			bottom: 0;
			left: 0;
			right: 0;
			clip-path: ellipse(60% 100% at bottom);
			display: inline-block;
			line-height: 0;
			min-height: 10vh;
			width: 100%;
		}


		:root[data-theme="light"] &::before {
			background-color: $cookie;
		}

		:root[data-theme="dark"] & {
			clip-path: inset(-100vh 0px 0px 0px); // cut off al borders except top
			box-shadow: 0px 0vh 20vh 4vh rgba(255, 255, 255, 0.8);

			&::before {
				background-color: $water2;
				background: linear-gradient(180deg, $water1 40%, $water2 90%);
			}
		}
	}
</style>
<div class="curve"></div>
<footer class=".root">
	<div>infromation</div>
</footer>